<!-- <hello></hello>
<p>{{message}}</p>
<p>{{Name}}</p>
<h1>Address</h1>
<pre>
  City     :{{address.City}}
  Pin      :{{address.pin}}
  Country  :{{address.Country}}
</pre>

<ul>
  <li *ngFor="let name of names">{{name}}</li>
</ul>
<ul>
  <li *ngFor="let name of names">
    <span>{{name.City}}</span></li>
    <span>{{name.pin}}</span></li>
    <span>{{name.Country}}</span></li>
</ul> -->
<!-- <app-parent-component></app-parent-component> -->
<!-- <app-component-parent></app-component-parent> -->
<h1>dshgac</h1>
<app-warehouse></app-warehouse>